@media print {
    .chart-container {
      width: 50% !important; /* ลดขนาดลงตามที่ต้องการ */
      height: 200px !important; /* ปรับความสูงตามต้องการ */
    }
    .hiddenPrint {
      display: none;
    }
  }
  

.FontLogo {
  font-family: "Kanit", sans-serif;
}

.ChangeFont {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.FontPublic {
  font-family: "Noto Sans Thai Looped", sans-serif;
  font-style: normal;
}
