@media print {
    .chart-container {
      width: 50% !important; 
      height: 200px !important; 
    }
    .hiddenPrint {
      display: none;
    }
    .IconPrint {
      margin-top: 22px;
    }
  }
  

.FontLogo {
  font-family: "Kanit", sans-serif;
}

.ChangeFont {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.FontPublic {
  font-family: "Noto Sans Thai Looped", sans-serif;
  font-style: normal;
}

.custom-district-input input {
  font-family: "Noto Sans Thai Looped", sans-serif;
  font-style: normal;
  font-size: 20px !important; 
}
